<div class="jumbotron sub-hero-background">
  <div class="col-lg-8 col-md-12 col-12">
    <h1 class="subpage-hero-heading">Contact Us</h1>
  </div>
</div>

<%= render 'visitors/contact/contact_details' %>
<%= render 'visitors/contact/contact_form' %>
