<div class="jumbotron hero-background">
  <div class="col-lg-8 col-md-12 col-12">
    <h1 class="display-2 hero-heading">Business Name</h1>
    <p class="lead hero-subheading">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
    </p>
  </div>
</div>
