<div class="jumbotron sub-hero-background">
  <div class="col-lg-8 col-md-12 col-12">
    <h1 class="subpage-hero-heading">Pricing</h1>
  </div>
</div>

<h1>Visitors#price</h1>
<p>Find me in app/views/visitors/price.html.erb</p>
