<h1>Pricing</h1>
<p>Each practitioner can set their own pricing</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Practitioners</th>
      <th>Billable items</th>
      <th>Item Number</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>Ben Strachan</td>
        <td>Initial home visit</td>
        <td>500</td>
        <td>$130</td>
      </tr>
  </tbody>
</table>

<br>
