  <div class="row">
    <div class="col-md-3">
      <h3>Step</h3>
      <p>Explantion here</p>
    </div>
    <div class="col-md-3">
      <h3>Step</h3>
      <p>Explantion here</p>
    </div>
    <div class="col-md-3">
      <h3>Step</h3>
      <p>Explantion here</p>
    </div>
    <div class="col-md-3">
      <h3>Step</h3>
      <p>Explantion here</p>
    </div>
  </div>
