  <div class="row section-100">
    <div class="col-md-3">
      <h4>Search local area</h4>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
    </div>
    <div class="col-md-3">
      <h4>Select practitioner</h4>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
    </div>
    <div class="col-md-3">
      <h4>Book online</h4>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
    </div>
    <div class="col-md-3">
      <h4>Home Visit</h4>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
    </div>
  </div>
