  <div class="row">
    <div class="col-md-3">
      <h2>Phone</h2>
      <p>1800 043 234</p>
    </div>
    <div class="col-md-3">
      <h2>Email</h2>
      <p>info@demo.com</p>
    </div>
    <div class="col-md-3">
      <h2>Address</h2>
      <p>213, New Lenox, <br> Chicago, IL 60606</p>
    </div>
    <div class="col-md-3">
      <h2>Opening hours</h2>
      <p>8:00 – 19:00 Mon – Fri <br> 9:00 – 17:00 Sat </p>
    </div>
  </div>
