<div class="row">
  <div class="col-md-3">
    <h3>Benefit</h3>
    <p>Explantion here</p>
  </div>
  <div class="col-md-3">
    <h3>Benefit</h3>
    <p>Explantion here</p>
  </div>
  <div class="col-md-3">
    <h3>Benefit</h3>
    <p>Explantion here</p>
  </div>
  <div class="col-md-3">
    <h3>Benefit</h3>
    <p>Explantion here</p>
  </div>
</div>
