<div class="row">
  <div class="col-md-6">
    <h2>About Us:</h2>
    <p>Intense is an independent web design studio with a rich history. It started as a small family-owned business in Oakville, and has grown enough to successfully occupy two large buildings in two different cities.</p>
    <p>Today Intense offers a full range of web design, app development and content marketing services, including building full-featured ecommerce websites and web startups with custom functionality.</p>
  </div>
  <div class="col-md-6">
    <%= image_tag 'about.jpg', class: 'img-responsive', alt: "Mobile Physiotherapist" %>
  </div>
</div>
